* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

header {
    height: 60px;
    background-color: rgb(52, 131, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.box-input-busqueda {
    flex: 1;
    margin: 0 20px;
}

.input-busqueda {
    border-radius: 15px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.filtros-hidden {
    display: none;
}

/* Efecto de sombra cuando el input está enfocado */
.input-busqueda:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.icon-header {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.icon-header:hover {
    color: #ddd;
}

.box-filtro {
    height: 80px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}

.box-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(200, 200, 200, 0.5);
}

.box-img {
    position: relative;
    width: 25%;
}

.box-info {
    width: 70%;
}

.img-auto {
    width: 100%;
    border-radius: 8px;
}

.marca {
    display: block;
    font-size: 1em;
    margin-top: 10px;
}

.precio {
    display: block;
    font-weight: regular;
    font-size: 1.2em;
    margin-top: 5px;
}

.info-anyo,
.info-kilometros,
.info-ciudad {
    font-size: 0.8em;
    color: rgb(96, 96, 96);
}

.box-corazon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(250, 250, 250, 0.8);
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-corazon {
    color: rgb(59, 148, 249);
    font-size: 1.1em;
}

.info-estrellas {
    font-size: 1.2em;
    margin-top: 5px;
}

.fa-star {
    color: #ddd; 
}

.fas {
    color: #fdd835;
}
.filtros-visible {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.filtros-hidden {
    display: none;
}

#boxFiltro {
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

#boxFiltro label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.box-toggle {
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-toggle {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s ease;
}

/* .button-toggle:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
} */

.box-toggle-on .button-toggle {
    background-color: #ffffff; /* Cambia este color según tu preferencia */
}

.box-toggle-on .button-toggle:before {
    left: 30px;
}

.filtros {
    margin-top: 20px;
}

.filtro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filtro div {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 550px) {
    .box-producto {
        font-size: 1.4em;
    }
    .marca {
        margin-top: 20px;
    }

   
}

@media only screen and (min-width: 600px) {
    .main-content {
        background-color: rgb(235, 235, 235, 0.9);
        display: grid;
        grid-template: "box-filtro box-productos";
    }
    .box-productos {
        grid-area: box-productos;
    }
    .box-filtro {
        grid-area: box-filtro;
        width: 200px;
        height: 100vh;
    }
    .box-toggle {
        margin: 50px 0 0 50px;
        width: 120px;
        height: 60px;
        border-radius: 27px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    .box-toggle-off {
        background-color: rgb(200, 200, 200);
    }
    .box-toggle-on {
        background-color: rgb(52, 131, 250);
    }
    .button-toggle {
        width: 54px;
        height: 54px;
        border-radius: 27px;
        background-color: #fff;
        padding-left: 3px;
        position: absolute;
        transition: left 300ms;
    }
    .button-toggle-off {
        left: 3px;
    }
    .button-toggle-on {
        left: 63px;
    }
}
